/* add css styles here (optional) */
body {
  background: #f5e2c0;
  overflow: hidden;
}

.AncientScroll, .AncientScroll * {
  box-sizing: border-box;
}

.AncientScroll {
  position: relative;
  display: block;
  width: 791px;
  height: 1063px;
  width: 74.4120413923vh;
  height: 100vh;
  -webkit-mask-image: url(https://i.imgur.com/4AUs6ML.png);
  mask-image: url(https://i.imgur.com/4AUs6ML.png);
  -webkit-mask-size: 791px 1063px;
  mask-size: 791px 1063px;
  box-sizing: border-box;
  z-index: 2;
}

.AncientScroll .skew {
  padding: 4rem 12rem 15rem 9rem;

  width: 791px;
  height: 1063px;
  width: 74.4120413923vh;
  height: 100vh;
  transform: skew(-.056rad);
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.AncientScrollBkg {
  display: block;
  content: '';
  position: absolute;
  width: 791px;
  height: 1063px;
  background: url(https://i.imgur.com/CqkYoPm.png);
  z-index: 1; 
  top: 0; left: 0;
  opacity: 1;
}

.AncientScroll, .AncientScrollBkg {
  transform: rotate(2deg);
}